<head>
    <link rel="stylesheet" type="text/css" href="/static/edit.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <a class="Stop" href="/stop">Stop</a>"
                <a class="returna" href="http://127.0.0.1:5000/">Return</a>
                <h3 class="mt-5">Live Streaming</h3>
                <img src="{{ url_for('video_feed') }}" width="100%">
            </div>
        </div>
    </div>
    </body>